#main-container.container {
  padding: 2px;
}

body {
    font: "Montserrat", sans-serif;
    line-height: 1.8;
    color: black;
    background-color: #ECECEA;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 0.5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.jumbotron {
      height: 100%;
      padding: 2px;
      overflow: hidden;
      color: white;
      background-color: #74AFAD;
}

.btn {
    padding: 0.5em;
}

#textbox.panel.panel-default {
	height: 100%;
	width: 100%;
}

#chatbox {
   float: right; 
   height: 200px;
   width: 100%;
   overflow-y: auto;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #558C89;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.nav-ctn-fluid {
    background-color: #558C89;
}

big {
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

li:hover {
    background-color: white;
}

a.list-group-item {
    background-color: #74AFAD;
    color: white;
    font-family: 'Oswald', sans-serif;
}

tbody {
    text-align: left;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

tbody {
    text-align:left;
}

footer {
    background-color: #558C89;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    overflow: hidden;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}